.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 123, 255, 0.4) 0%, rgba(0, 123, 255, 0) 70%);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: screen;
    filter: blur(4px);
}

@media (hover: none) {
    .cursor {
        display: none;
    }
}